
body {
  margin: 0;
  margin-top: 60px;
  background: #D3D3D3;
}
h3 {
  color : #757575;
  font-size: 1.3em;
  min-height: 50px;
}
.wrap {
  background: #fff;
  padding: 20px 40px;
}

form {
  margin: auto;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #09C;
  text-decoration: none;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.field textarea {
  height: 200px;
  color: #000;
  font-size: 12px;
  font-style: italic;
  line-height: 24px;
  font-weight: normal;
}
.txt_indent {
  text-indent: 20px;
}
.field span {
  color: black;
  font-weight: bold;
  margin-left: 20px;
}
.field input {
  width: 100%;
  display: block;
  border: 1px solid #999;
  height: 25px;
  margin-bottom: 15px;
  color: #000;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
textarea {
  width: 100%;
  height: 100px;
  display: block;
  resize: none;
}
textarea:focus, input:focus {
  border: 1px solid #09C;
}
.btn-form {
  position: relative;
  background: #09C;
  vertical-align: center;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 40px;
  border-radius: 15px;
  border: 1p solid #999;
}
.btn-form:hover {
  background: #fff;
  color: #09C;
}
.btn-default {
  margin: 5px;
}
.btn-default:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.time {
  float: right;
  font-size: 0.8em;
}
.line {
  margin-top: -3px;
  line-height: 2px;
  border-bottom: 1px solid #606060;
}
.navbar ul {
  float:right;
}
.navbar ul li a:active {
  color: green;
}
.navbar a:hover {
  color: red;
}
.about h2{
  margin-bottom: 45px;
}
.about img{
  margin-bottom: 54px;
}
.about p {
  font-size: 1.2em;
  margin-bottom: 54px;
}
.contact {
  padding-top: 80px;
  margin-bottom: 110px;
}
.footer {
  background-color: #333333;
  color : #fff;
  overflow: hidden; // no space on bottom
  width: 100%;
  bottom: 0;
  left: 0;
  line-height:80px; 
  height: 80px;
  
}
.footer p {
  margin-left: 20px;
}
.top_article {
  margin: 0 auto;
  padding: 0px; 
}
.top_article h3 {
  font-size: 2em;
  color: #000;
}
.top_article img {
  margin: 0 auto;
  width: 100%;
}
.like:hover {
  text-decoration: none;
}
.title{
  font-size: 1.9em;
}
.min-height {
  min-height: 710px;
  margin: 40px 0;
  padding: 40px;
}
.name-show {
  margin-bottom: 60px;
  min-height: 500px;
}
.navbar-brand {
  margin-left: 15px;
}
.product-reviews {
  background-color: #efefef;
  padding: 15px;

}
.product-reviews hr {
  background-color: #aaaaaa;
  height: 1px;
}
.glyphicon-remove {
  color: red;
  float: right;
}
.button {
  min-height: 30px;
}
/* pagination ********************/

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

/* pagination ********************/
h3 a {
  color: #750000;
  
}
h3 a:hover {
  text-decoration: none;
}
.admin {
  color: red;
}


