// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field input,
.field textarea,
.new_product input,
.new_product textarea  {
  resize: none;
  width: 40%;
}
/* Will paginate */
.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
    border: 1px solid #047dc9;
}
.pagination a:hover {
    background: #047dc9 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}
.pagination a:active {
    text-shadow: none;
}
.pagination .current {
    background: #047dc9 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717}
.pagination .disabled {
    color: #C0C0C0;
}
//will paginate
.glyphicon-remove {
  top: 0.3em;
}
.remove a:hover  {
  background: none;
}

/* End Will paginate */
